h2{
    color: #1890FF;
}

input{
    border: none;
    border-bottom: 1px solid aqua;
    width: 100%;
    margin-bottom: .8rem;
}

form{
    display: flex;
    flex-direction: column;
    width: 90vw;
}

@media screen and (min-width: 1200px){
    form{
        width: 30vw;
    }
}

@media screen and (min-width: 720px){
    form{
        width: 60vw;
    }
}