h2{
    color: #ff6a3d;
    font-weight: 700;
}

input{
    border: none;
    border-bottom: 1px solid #1A2238;
    width: 100%;
    margin-bottom: .8rem;
}

.ant-btn-primary{
    background: #1A2238;
    border-color: #1A2238;
}

.ant-btn-primary:hover{
    background: #1A2238;
    border-color: #1A2238;
    color: #ff6a3d;
}

.ant-btn-link{
    color:#ff6a3d;
}

.ant-btn-link:hover{
    color:#fa3a00;
}

.ant-btn-link:focus{
    color:#ff6a3d;
}

form{
    display: flex;
    flex-direction: column;
    width: 90vw;
}

@media screen and (min-width: 1200px){
    form{
        width: 30vw;
    }
}

@media screen and (min-width: 720px){
    form{
        width: 40vw;
    }
}