.edit-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F0F2F5;
}

.edit-form{
  background-color: #ffffff;
  padding: 1rem;
}

.edit-form > input{
  background-color: #ffffff;
}

.edit-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-buttons > button{
  margin: .5rem;
}